APP_PORT=8090
APP_ENV=development
APP_NAME=user-service
WEB_PREFORK=false
LOG_LEVEL=info

JWT_SECRET_KEY=super-secret-key
JWT_ISSUER=user-service

URL_FORGOT_PASSWORD="http://localhost:8090"
URL_FRONT_FE="http://localhost:3000"

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=root
DATABASE_PASSWORD=root_password
DATABASE_NAME=veggo_user_service
DATABASE_MAX_OPEN_CONNECTION=25
DATABASE_MAX_IDLE_CONNECTION=10

KAFKA_AUTO_OFFSET_RESET=earliest
KAFKA_BOOTSTRAP_SERVERS=localhost:19092
KAFKA_GROUP_ID=veggo-user-service-group
KAFKA_PRODUCER_ENABLED=true

TOPIC_NOTIF_EMAIL_VERIFICATION=notification.email.verification
TOPIC_NOTIF_EMAIL_FORGOT_PASSWORD=notification.email.forgot-password
TOPIC_NOTIF_EMAIL_CREATE_CUSTOMER=notification.email.customer-created
TOPIC_NOTIF_EMAIL_UPDATE_CUSTOMER=notification.email.customer-updated
TOPIC_PUSH_NOTIF=notification.push

MINIO_ENDPOINT=localhost:9000
MINIO_PUBLIC_URL=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=veggo-user-service
MINIO_USE_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=password

GATEWAY_SECRET_KEY="secret"
